
<md-sidenav-container>
  <!--<md-toolbar color="primary" >

        <!--<md-icon (click)="sidenav.toggle()" class="menu-icon">menu</md-icon>-->
        <!--<md-icon  class="menu-icon">menu</md-icon>
        <span flex>&nbsp;</span>
        Kiwi Icecream
        <span class="space-filler"></span>
        test
        <md-icon>more_vert</md-icon>


    </md-toolbar> -->
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>

  <md-sidenav #sidenav mode="over"  opened="false" class="side-nav">
    <app-sidenavbar> </app-sidenavbar>
  </md-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
