<div  class="user-info" fxLayout="column"  fxLayoutAlign="center center">
    <!-- <div class="user-detail" style="border: 2px solid red"> -->
      <div class="user-detail" fxLayoutAlign="center">
        <img src="/assets/a4.jpg" alt="" >
      </div>
      <h4 fxLayoutAlign="center">Albert Eintein</h4>
    <!-- </div> -->
</div>


<div class="sidenav-container">
    <ul class="sidenav-list">
        <li class="sidenav-item">
            <a [routerLink]="['dashboard']">
                <i class="fa fa-tachometer" aria-hidden="true"> </i>
                Dashboard
            </a>
        </li>
        <li class="sidenav-item" >
            <a [routerLink]="['products']">
                <i class="fa fa-cubes" aria-hidden="true"></i>
              Products
            </a>

        </li>
        <li class="sidenav-item">
            <a href="#">
                <i class="fa fa-truck" aria-hidden="true"> </i>
               Distributors
            </a>

        </li>
        <li class="sidenav-item">
            <a href="#">
               <i class="fa fa-user-circle" aria-hidden="true"></i> 
               Martketing
            </a>

        </li>
    </ul>

</div>
