

  
<md-sidenav-container>
  <md-toolbar color="primary" >
  
        <!--<md-icon (click)="sidenav.toggle()" class="menu-icon">menu</md-icon>-->
        <md-icon  class="menu-icon">menu</md-icon>
        <span flex>&nbsp;</span>    
        Kiwi Icecream
        <span class="space-filler"></span>
        test
        <md-icon>more_vert</md-icon>

    
</md-toolbar> 

  <md-sidenav #sidenav mode="side"  opened="true" class="side-nav">
    <app-sidenavbar> </app-sidenavbar>
  </md-sidenav>
  
  <div class="main-content">
    <div class="chart-container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" >
        <div   class="first-flex" >
            <md-card class="example-card">
              <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Shiba Inu</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
              </md-card-header>
              
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
              </md-card-actions>
            </md-card>
        </div>
        <div  class="second-flex">
            <md-card class="example-card">
              <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Shiba Inu</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
              </md-card-header>
              
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
              </md-card-actions>
            </md-card>
        </div>
        <div   class="third-flex">
            <md-card class="example-card">
              <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Shiba Inu</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
              </md-card-header>
              
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
              </md-card-actions>
            </md-card>
        </div>
        <div   class="fouth-flex" >
            <md-card class="example-card">
              this will dispaly charts
            </md-card>
        </div>
      </div>
    </div>
         
  </div>

</md-sidenav-container>
  