<div class="user-info"  fxLayout="column" fxLayoutAlign="space-around center">
    <div class="user-detail">
       <img src="../../assets/a4.jpg" alt="" >
       <h4 >jafaremail</h4>     
    </div>
    
</div>

<div class="sidenav-elements">
    <ul class="sidenav-ul">
        <li class="sidenav-li">
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"> </i>   
                Dashboard
            </a>
        </li>
        <li class="sidenav-li" >
            <a href="#">
              Products          
            </a>
            
        </li>
        <li class="sidenav-li">
            <a href="#">
                <i class="fa fa-truck" aria-hidden="true"> </i>  
               Distributors 
            </a>
            
        </li>
        <li class="sidenav-li">
            <a href="#">
               Martketing  
            </a>
           
        </li>
    </ul>  

</div>
    
