<div class="user-info"  fxLayout="column" fxLayoutAlign="space-around center">
    <div class="user-detail">
       <img src="../../assets/a4.jpg" alt="" >
       <h4 >jafaremail</h4>     
    </div>
    
</div>

<div class="sidenav-elements">
    <ul class="sidenav-ul">
        <li>
            <a href="#">
                <md-icon>dashboard</md-icon>
                Dashboard
            </a>
        </li>
        <li>Products</li>
        <li>Distributors</li>
        <li>Martketing</li>
    </ul>  

</div>
    
