

ul {
    list-style: none;
    padding: 0px;
}

.user-info{
    width: 200px;
    height: 200px;
    background-image: url("../../assets/shattered.png");
    
}

/*.user-detail {
   margin: 30px auto;
}*/

.user-detail img {
    border-radius: 50%;
    max-width: 70px;
}

.sidenav-elements {
    padding: 0px;
    margin: 0px;
}

.sidenav-li{
    background: #fefefe;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    
}

.sidenav-li:hover {
    position: relative; 
    
    transition: top ease 5s;
    top: -2px;
}
.sidenav-li a {
    display: block;
    text-decoration: none;
   
}

.sidenav-li a:hover {
    color: red;
    
}