<p>
  productadd works!
</p>
<md-card>
  <form >
    <md-input-container class="example-full-width">
    <input mdInput placeholder="Product Name">
  </md-input-container>

  <md-input-container class="example-full-width">
      <input mdInput placeholder="description">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input mdInput placeholder="SKU">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input mdInput placeholder="MRP" type="number">
    </md-input-container>
    <p>

      <md-select placeholder="Favorite food"  name="food">
        <md-option>
          option 1
        </md-option>
        <md-option>
          option 2
        </md-option>
      </md-select>
    </p>
  </form>

</md-card>
